*.pyc
*.idea
*venv*
*.png
*.yml

Electricity/data/
Electricity/attack_logs/*
!Electricity/attack_logs/.keep

Finance/attack/attack_logs/*
!Finance/attack/attack_logs/.keep
Finance/eval/eval_logs/*
!Finance/eval/eval_logs/.keep
*Trained_Models
Finance/dataset/Year*
Finance/dataset/raw_data/data.h5


